header {
  background-color: #1380a1;
}
header h1 {
  font-size: 63px;
}
header a, header a:hover {
  font-weight: bold;
  color: #c9ccd3;
  text-decoration: none;
  text-shadow: 2px 2px 3px #434343;
}
p.site-description {
  font-size: 20px;
}
#Sites {
  margin-top: 50px;
}
#Sites div div {
  padding:0px 100px;
}
#Sites div div img {
  padding-bottom: 43px;
}
#Sites a {
  color: #434343;
}
#Sites h1:hover {
  text-shadow: 2px 2px 3px #131313;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #1380a1;
}
